.cl-inp-fl{
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 300px;
    color : black;
    background-color: white;
}

.cl-inp-fl::placeholder{
    color: rgba(0, 0, 0, 0.504);
}