.drinks-work-container{
    position: relative;
}
.cheque-wrapper{
    position: absolute;
    left: 50%;
    margin-top: -562px;
    transform: translate(-50%);
    width: 700px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #2C2C2C;
    color: white;
    border-radius: 10px;
    z-index: 999999;
}

.cheque-wrapper .close-button{
    position: absolute;
    right: 0px;
    top: 0px;
    border: none;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    transform: scale(0.4);
    font-size: 4rem;
    font-weight: bold;
    color:#2C2C2C;
    padding: 0;
    cursor: pointer;
}

.cheque-wrapper .navigation-button{
    display: none;
    position: absolute;
    left: 0px;
    top: 0px;
    border: none;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    transform: scale(0.4);
    font-size: 4rem;
    font-weight: bold;
    color:#2C2C2C;
    padding: 0;
    cursor: pointer;
}

.cheque-wrapper .create-button{
    display: none;
    background-color: #006C36;
    color: white;
    border: none;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: 10px 25px;
    width: 176px;
    height: 50px;
    margin-bottom: 50px;
    cursor: pointer;
}

.cheque-wrapper .visible{
    display:flex;
}

.cheque-wrapper .navigation-button img{
    transform: scale(3);
}

.drink-to-cheque-extra-for-drink-navigation-button{
    display: none;
}

.drink-to-cheque-extra-for-drink-navigation-button .visible{
    display: block;
}

.cheque-drink-name{
    padding-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.drink-to-cheque-buttons-container{
    width: 100%;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: space-around;

}

.drink-to-cheque-button{
    width: 220px;
    height: 120px;
    padding: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    font-weight: bold;
    transition: all 0.15s;
}

.drink-to-cheque-button .small-img{
    margin-top: 25px;
}

.drink-to-cheque-button:hover{
    cursor: pointer;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.24);
}

.drink-to-cheque-extra-for-drink-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 150px;
}

.dtink-to-cheque-extra-for-drink-wrapper{
    height: 60%;
}

.drink-to-cheque-extra-for-drink{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin-top: 50px;
}

.drink-to-cheque-extra-for-drink-title{
    font-size: 1.5rem;
}

.drink-to-cheque-extra-for-drink-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
    width: 100px;
}

.drink-to-cheque-extra-for-drink-button{
    border: none;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    transform: scale(0.4);
    font-size: 4rem;
    font-weight: bold;
    color:#2C2C2C;
    padding: 0;
    cursor: pointer;    
}

.drink-to-cheque-extra-for-drink-value{
    font-size: 1.5rem;
}