.drink-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.drink-button{
    width: 80%;

    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    background-color: #DDDBDB;
    border: 1px solid black;
    border-radius: 10px;
    transition: all 0.15s;
}

.drink-button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.49);
}

