.loyalty-cards-wrapper{
    background-image: url(../images/04d7bd5da115808a61fb43fa33a28e6e.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;    
}

.loaylty-table-container{
    width: 100%;
    height: 600px;
    overflow-y: auto;
}

.loyalty-table{
    text-align: center;
    width: 100%;
    border-spacing: 0px;
    color: white;
}

.loyalty-table thead{
    background-color: #2C2C2C;
    height: 50px;
    font-size: 1.12rem;
}

.loyalty-table tbody{
    background-image: linear-gradient(to right, transparent 3%, #016b36f2 3%, #016b36f2 97%, transparent 97%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    max-height: 150px;
    font-size: 1.12rem;
}

.loyalty-table td{
    padding: 10px 0px;

}

.tdvisits-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.visit{
    width: 15px;
    height: 15px;
}

.visit-img{
    width: 100%;
    height: 100%;
}

.person-tr{
    position: relative;
}

.delete-person-button{
    position: absolute;
    right: 15px;
    top: 12px;
}

.delete-person-button{
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: none;
    transition: all 0.15s;
}

.delete-person-button:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.trash-icon-img{
    width: 100%;
    height: 100%;
}

/* Style the scrollbar */
.loaylty-table-container::-webkit-scrollbar {
    width: 8px;
}

.loaylty-table-container::-webkit-scrollbar-thumb {
    background-color: #4C4C4C; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Border radius of the scrollbar thumb */
}

.loaylty-table-container::-webkit-scrollbar-track {
    background-color: #1E1E1E; /* Color of the scrollbar track */
    border-radius: 4px; /* Border radius of the scrollbar track */
}

/* Optional: Hide scrollbar in Firefox */
.loaylty-table-container {
    scrollbar-width: thin;
    scrollbar-color: #4C4C4C #1E1E1E;
}


