.orders-wrapper{
    background-image: url(../images/04d7bd5da115808a61fb43fa33a28e6e.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
}

.orders-table-container{
    width: 100%;
    height: 600px;
    overflow-y: auto;
}

.orders-table{
    text-align: center;
    width: 100%;
    border-spacing: 0px;
    color: white;
}

.orders-table thead{
    background-color: #2C2C2C;
    height: 50px;
    font-size: 1.12rem;
}

.orders-table tbody{
    background-image: linear-gradient(to right, transparent 5%, #016b36f2 5%, #016b36f2 95%, transparent 95%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: auto;
    max-height: 150px;
    font-size: 1.12rem;
}

.orders-table td{
    padding: 10px 0px;
}

/* Style the scrollbar */
.orders-table-container::-webkit-scrollbar {
    width: 8px;
}

.orders-table-container::-webkit-scrollbar-thumb {
    background-color: #4C4C4C; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Border radius of the scrollbar thumb */
}

.orders-table-container::-webkit-scrollbar-track {
    background-color: #1E1E1E; /* Color of the scrollbar track */
    border-radius: 4px; /* Border radius of the scrollbar track */
}

/* Optional: Hide scrollbar in Firefox */
.orders-table-container {
    scrollbar-width: thin;
    scrollbar-color: #4C4C4C #1E1E1E;
}

