.orders-wrapper{
    background-image: url(../images/04d7bd5da115808a61fb43fa33a28e6e.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.orders-table-container{
    width: 100%;
    height: 600px;
    overflow-y: auto;
}

.orders-table{
    text-align: center;
    width: 100%;
    height: 800px;
    border-spacing: 0px;
    color: white;
}

.orders-table thead{
    background-color: #2C2C2C;
    height: 50px;
    font-size: 1.12rem;
}

.orders-table tbody{
    background-color: #016b36f2;
    height: 300px;
    font-size: 1.12rem;
}

