.time-panel-wrapper{
    height: 100vh;
}
.time-panel-labels {
    display: flex;
    column-gap: 50px;
    background-color: black;
    color: #FAF5E9;

    font-size: 1.1rem;
    font-weight: 300;
    padding: 10px 10px;
    height: 50px;

}

.time-panel-label, .search-clients {
    width: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.time-panel-container {
    background-color: #009B4D;
    color: white;
    font-size: 1.2rem;
    /* min-height: 300px;
    max-height: 300px; */
    height: 81.6vh;
    overflow-y: scroll;
}

/* Style the scrollbar */
.time-panel-container::-webkit-scrollbar {
    width: 8px;
}

.time-panel-container::-webkit-scrollbar-thumb {
    background-color: #4C4C4C; /* Color of the scrollbar thumb */
    border-radius: 4px; /* Border radius of the scrollbar thumb */
}

.time-panel-container::-webkit-scrollbar-track {
    background-color: #1E1E1E; /* Color of the scrollbar track */
    border-radius: 4px; /* Border radius of the scrollbar track */
}

/* Optional: Hide scrollbar in Firefox */
.time-panel-container {
    scrollbar-width: thin;
    scrollbar-color: #4C4C4C #1E1E1E;
}